.main2{height:462px;} .fl{float: left;} 
.m2{width: 490px;margin-right: 20px;} .m21{width: 490px;}
.p1{height: 50px;line-height: 50px;color: #000;margin-left: 20px;font-size: 20px;font-weight: bold;}
.p2{height: 65px;margin-left: 20px;color: #b3b3b3;font-size: 10px;text-indent: 20px;}
.yema{height: 100px;text-align: center;} 
.yema ul li a{color: #e4e4e4;}
.kuang{width: 70px;border: 1px solid #e4e4e4;margin-left: 20px;}
.shu{width: 25px;border: 1px solid #e4e4e4;margin-left: 20px;}
.shu:hover{background: #ff0000;color: #fff;}
.shu:hover{color:#fff;}
.kuang:hover{background: #ff0000;color: #fff;}
.kuang:hover{color:#fff;}