.main2{height: 490px;}
.p1{height: 30px;line-height: 30px;color: #000;margin-left: 20px;font-size: 20px;font-weight: bold;}
.p2{height: 30px;line-height: 30px;color: #737373;margin-left: 20px;font-size: 10px;}
.p3{height: 53px;margin-left: 20px;font-size: 12px;line-height: 20px;}
.main2 img{float: left;} .imgl{margin-left: 20px;height: 181px;}
.m3{height: 55px;line-height: 20px;margin-left: 20px;font-size: 10px;font-weight: bold;}
.m32{margin-left: 20px;} .m32 img{margin-right: 15px;}
.m33{height: 120px;}
.m33 p{float: left;margin-right:10px;margin-left: 10px;width: 227px;text-align: center;font-size: 12px;font-weight: bold;margin-top: 10px;}