.main2{height: 280px;}
.main2 ul li{margin-left: 20px;}
.lii1{height: 55px;font-style: 14px;line-height: 90px;font-weight: bold;}
.lii2{height: 47px;font-size: 12px;color: #989898;}
.li3{height: 32px;font-size: 20px;font-weight: bold;}
.li4{height: 23px;line-height: 23px;color:#989898;font-size: 12px;}
.main3{height: 500px;margin-left: 20px;}