.footernav ul li{float: left;} .footernav ul li a{color: #000;}
.foot{margin-left: 360px;}
.footernav{height: 100px;margin-top: 80px;}
.main2 ul li{text-align: center;}
.p1{font-weight: bold;font-size: 20px;margin-bottom: 10px;}
.p2{font-size: 14px;color: #626262;margin-bottom: 10px;}
.p3{height: 50px;text-align: left;text-indent: 2em;line-height: 20px;font-size: 14px;margin-top: 20px;}