<dz-page>
	<dz-breadcrumb>
		<dz-breadcrumb-item>主页</dz-breadcrumb-item>
		<dz-breadcrumb-item>团队成员</dz-breadcrumb-item>
		<dz-breadcrumb-item>详情页面</dz-breadcrumb-item>
	</dz-breadcrumb>
	<dz-card>
		<dz-detail-view>
			<row>
				<cell>编号</cell>
				<cell>{{member.id}}</cell>
			</row>
			<row>
				<cell>姓名</cell>
				<cell>{{member.name}}</cell>
			</row>
			<row>
				<cell>职位</cell>
				<cell>{{member.position}}</cell>
			</row>
			<row>
				<cell>照片</cell>
				<cell>
					<a :href="'uploads/'+ member.filename" target="_blank"><img :src="'uploads/thumb_' + member.filename" /></a>
				</cell>
			</row>
		</dz-detail-view>
	</dz-card>
</dz-page>