<dz-page>
	<dz-breadcrumb>
		<dz-breadcrumb-item>首页</dz-breadcrumb-item>
		<dz-breadcrumb-item>广告管理</dz-breadcrumb-item>
		<dz-breadcrumb-item>详情页面</dz-breadcrumb-item>
	</dz-breadcrumb>
	<dz-card>
		<dz-detail-view>
			<tr>
				<th>编号</th>
				<td>{{ad.id}}</td>
			</tr>
			<tr>
				<th>主题名称</th>
				<td>{{ad.object}}</td>
			</tr>
			<tr>
				<th>图片</th>
				<td><img :src="ad.image"/></td>
			</tr>
			<tr>
				<th>链接</th>
				<td><a :href="ad.link" target="_blank" >{{ad.link}}</a></td>
			</tr>
			<tr>
				<th>排序</th>
				<td>{{ad.sort}}</td>
			</tr>
		</dz-detail-view>
	</dz-card>
</dz-page>
