<dz-page>
	<dz-breadcrumb>
		<dz-breadcrumb-item>首页</dz-breadcrumb-item>
		<dz-breadcrumb-item>新闻列表</dz-breadcrumb-item>
		<dz-breadcrumb-item>添加页面</dz-breadcrumb-item>
		<dz-card>
			<dz-form>
				<dz-input label="文章标题" v-model="news.title" placeholder="请输入标题……"></dz-input>
				<dz-textarea label="文章描述" v-model="news.description" placeholder="请输入内容……"></dz-textarea>
				<dz-file-upload label="文章封面" v-model="news.cover" aria-placeholder="请上传图片"></dz-file-upload>
				<dz-datepicker label="发布日期" v-model="news.pubdate" placeholder="请点此选择日期……"></dz-datepicker>
				<!--内容-->
				<dz-textarea label="文章内容" v-model="news.content" placeholder="请输入内容……"></dz-textarea>
				<dz-submit  @click.native="doSubmit">提交</dz-submit>
			</dz-form>
		</dz-card>
	</dz-breadcrumb>
</dz-page>