<dz-page>
	<dz-breadcrumb>
		<dz-breadcrumb-item>首页</dz-breadcrumb-item>
		<dz-breadcrumb-item>新闻管理</dz-breadcrumb-item>
		<dz-breadcrumb-item>编辑页面</dz-breadcrumb-item>
	</dz-breadcrumb>
	<dz-card>
		<dz-form>
			<dz-input label="新闻标题" name="title" v-model="news.title" placeholder="请输入新闻标题……"></dz-input>
			<dz-input label="发布日期" name="pubdate" v-model="news.pubdate" placeholder="请输入发布日期……"></dz-input>
			<dz-input label="内容" name="content" v-model="news.content" placeholder="请输入内容……"></dz-input>
			<dz-input label="排序" name="sort" v-model="news.sort" placeholder="请输入排序……"></dz-input>
			<dz-submit @click.native="doSubmit">提交</dz-submit>
		</dz-form>
	</dz-card>
</dz-page>