<dz-page>
	<dz-breadcrumb>
		<dz-breadcrumb-item>首页</dz-breadcrumb-item>
		<dz-breadcrumb-item>导航管理</dz-breadcrumb-item>
		<dz-breadcrumb-item>详情页面</dz-breadcrumb-item>
	</dz-breadcrumb>
	<dz-card>
		<dz-detail-view>
			<tr>
				<th>编号</th>
				<td>{{nav.id}}</td>
			</tr>
			<tr>
				<th>名称</th>
				<td>{{nav.name}}</td>
			</tr>
			<tr>
				<th>链接</th>
				<td><a :href="nav.link" target="_blank" >{{nav.link}}</a></td>
			</tr>
			<tr>
				<th>排序</th>
				<td>{{nav.sort}}</td>
			</tr>
		</dz-detail-view>
	</dz-card>
</dz-page>
