<dz-page>
	<dz-breadcrumb>
		<dz-breadcrumb-item>首页</dz-breadcrumb-item>
		<dz-breadcrumb-item>广告管理</dz-breadcrumb-item>
		<dz-breadcrumb-item>添加页面</dz-breadcrumb-item>
	</dz-breadcrumb>
	<dz-card>
		<dz-form>
			<dz-input label="主题名称" v-model="ad.object" placeholder="请输入名称……"></dz-input>
			<dz-input label="图片链接" v-model="ad.image" placeholder="请输入链接……"></dz-input>
			<dz-input label="链接" v-model="ad.link" placeholder="请输入链接……"></dz-input>
			<dz-input label="排序" v-model="ad.sort" placeholder="请输入排序"></dz-input>
			<dz-submit @click.native="doSubmit">提交</dz-submit>
		</dz-form>
	</dz-card>
</dz-page>